{{! <a href="/articles/new">
    <button class="btn btn-create">
        Create
    </button>
</a> }}

{{#each articles}}
    {{#if this.publish}}
        <section class="article">
            {{! 使用 cutsom helper (自定義)}}
            <h3>{{link "Go to page" this.url}}</h3>
            {{!-- <h3><a href={{this.url}}>Go to page</a></h3> --}}

            <br />
            {{#with this}}
                <h2 class="article-title">
                    {{id}}_{{UpperCase title}}
                </h2>
                <h3 class="article-subTitle">
                    {{subTitle}}
                </h3>
                <h4 class="article-date">
                    {{createdDate}}
                </h4>
                <p class="article-content">
                    {{content}}
                </p>
            {{/with}}
        </section>
    {{/if}}
{{/each}}