{{#each articles}}
    {{#if this.publish}}
        <section class="article">

            {{!-- 使用 cutsom helper (自定義)--}}
            <h3>← {{link "Go back" ../backUrl}}</h3>
            {{!-- <h3><a href="{{../backUrl}}">← Go back</a></h3> --}}
            <br />

            {{!-- <div class="btn-group">
                <a href={{../editUrl}}>
                    <button class="btn btn-edit">
                        Edit
                    </button>
                </a>
                <button
                    class="btn btn-delete"
                    data-method={{../deleteMethod}}
                    data-url={{../deleteUrl}}
                >
                    Delete
                </button>
            </div> --}}

            {{#with this}}
                <h2 class="article-title">
                    {{!-- 使用 cutsom helper (自定義) --}}
                    {{id}}_{{UpperCase title}}
                    {{!-- {{key}}{{title}} --}}
                </h2>
                <h3 class="article-subTitle">
                    {{subTitle}}
                </h3>
                <h4 class="article-date">
                    {{createdDate}}
                </h4>
                <p class="article-ontent">
                    {{content}}
                </p>

            {{/with}}

        </section>
    {{/if}}
{{/each}}